.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid #FF8227;
    margin-bottom: 32px;
}

.logoContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    text-decoration: none;
    color: initial;
}

.logoImage
{
    width: 64px;
    height: 64px;
    margin-right: 8px;
}

.logoText
{

}

.logoText h1
{
    margin-bottom: 8px;
}

.headerButtons
{
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headerButton
{
    width: fit-content !important;
    margin: 8px 16px 8px 0px;
}

.historyOrderItem 
{

}

.historyOrderDate 
{
    margin-bottom: 16px;
}